.navbar {
  display: flex;
  background-color: var(--color-darkGray);
  height: 90px;
  justify-content: space-between;
}

.left {
  display: flex;
  margin-left: 5%;
  
  .image {

    img {
      height: 100px;
      width: 150px;
    }
  }

  .conference {
    display: flex;

    p {
      color: var(--color-blanco);
      align-self: center;
      font-size: 20px;
      font-family: TiltWarp;
      text-transform: uppercase;
    }
  }
}

.linksContainer {
  align-self: center;
  justify-content: space-between;
  margin-right: 5% ;


  .links {
    display: flex;
    justify-content: space-between;
  
  
    li {
      margin: 10px;
    }
}
}