<div class="navbar" >
  
  <div class="left" >
    <div class="image">
      <img src="assets/logo/codoacodo.png" alt="Codo-A-Codo-Logo">
    </div>

    <div class="conference">
      <p>Conf Bs As</p>
    </div>

  </div>

  <button (click)="setActive()" ><img src="assets/icons/menu.svg" alt="menu-icon"></button>

  <div class="linksContainer" [ngClass]=" {'linksContainer--active' : active} " >
    <ul class="links">
      <li *ngFor="let item of linksToRender" >
        <app-hipertext [hipertextLink]="item.url" [selectClass]="item.class" [hipertextWords]="item.text"></app-hipertext>
      </li>
    </ul>
  </div>
</div>
