footer {
  margin-bottom: 0px;
  padding: .3125rem;
  background-color: rgb(29, 76, 102);
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    li {
      align-self: center;
      padding: 10px;
      margin: auto;
      a {
        text-decoration: none;
        color: var(--color-blanco);

        &:hover {
          text-decoration: underline;
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}


