.linkersGray {
  font-size: 16px;
  font-family: TiltWarp;
  color: rgb(126, 124, 124);
  text-transform: uppercase;
}

.linkersGreen {
  font-size: 16px;
  font-family: TiltWarp;
  color: var(--color-verde);
  text-transform: uppercase;
}

a:hover {
  color: white;
}