<section>
  <img class="bairesImg" src="assets/cities/ba1.jpg" alt="Buenos-Aires-Image">
  <div class="textContainer"  >
    <h1>Conf Bs As</h1>
    <p>Bs As llega por primera vez a Argentina. Un evento para compartir con nuestra comunidad el conocimiento y experiencia de los expertos que están 
      creando el futuro del Internet. Ven a conocer a miembros del evento, a otros estudiantes de Codo a Codo y a los oradores de primer nivel que 
      tenemos para ti. Te esperamos!
    </p>
    

      <div class="buttonContainer" >
        <app-button *ngFor="let item of btnInputs" [btnClass]="item.class" [btnText]="item.text" />
      </div>


  </div>
</section>
