section {
  width: 250px;
  height: 420px;
  border: 0.5px solid var(--color-gris);

  .image {
    display: flex;
    justify-content: center;
    align-content: center;

    img {
      width: 250px;
      height: 250px;
    }
  }

  .textContainer {
    padding: 0.5rem;

    .title {
      font-family: Roboto-Medium;
    }

    .text {
      font-size: 0.8rem;
      text-wrap: wrap;
    }
  }
}