<section>
  <div>
    <div>
      <p>CONVIÉRTETE EN UN</p>
      <h3>ORADOR</h3>
      <p class="subtitle">Anótate como orador para dar una <u>charla ignite</u>. ¡Cuéntanos de qué quieres hablar!</p>
    </div>
    <form action="">
      <div class="inputContainer" >
        <input type="text" placeholder="Nombre" >
        <input type="text" placeholder="Apellido" >
      </div>
      <div class="textareaContainer">
        <textarea name="" id="" cols="30" rows="10" placeholder="¿Sobre qué quieres hablar?" ></textarea>
      </div>

        <p class="remembering">Recuerda incluir un título para tu charla</p>

      <button type="submit" >Enviar</button>
    </form>
  </div>

</section>
