section {
  display: flex;
  align-content: center;
  justify-content: center;

  p, h3 {
    text-align: center;
  }

  form {
    .inputContainer {
      background-color: red;
      display: flex;
      justify-content: space-between;
      input {
        gap: 1.25rem;
        min-width: 15.625rem;
        background-color: aqua;
      }
    }

    .textareaContainer {
      background-color: brown;
      display: flex;
      justify-content: center;
      align-content: center;
      textarea {
        min-width: 300px;
      }
    }

    button {
      background-color: green;
    }
  }
  
}