section {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;

  p, h3 {
    text-align: center;
  }

  p {
    margin-bottom: 5px;
    font-size: .75rem;
  }

  h3 {
    margin: 20px auto;
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 14px;
  }

  form {
    .inputContainer {

      display: flex;
      justify-content: space-between;

      input {
        gap: 1.25rem;
        min-width: 15.625rem;
        padding: 5px;
        margin-bottom: 20px;
      }
    }

    .mail {
      display: flex;
      justify-content: center;

      input {
        gap: 1.25rem;
        min-width: 15.625rem;
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
      }
    }

    /* .textareaContainer {

      display: flex;
      justify-content: center;
      align-content: center;
      margin-bottom: 5px;
      textarea {
        width: 100%;
        min-width: 300px;
        resize: none;
      }
    } */

    .selectors {
      display: flex;
      align-content: center;
      justify-content: space-around;
      input {
        gap: 1.25rem;
        min-width: 4.625rem;
        width: 20%;
        padding: 5px;
        margin-bottom: 20px;
      }

      select {
        gap: 1.25rem;
        min-width: 6.625rem;
        width: 20%;
        padding: 5px;
        margin-bottom: 20px;
      }
    }

    .totalPrice {
      background-color: aqua;
      padding: .8rem;
      text-align: left;
      font-size: .9rem;
    }

    .error {
      color: red;
      font-size: 12px;
      display: flex;
      flex-direction: column;
    }
    
    button, .erase-btn {
      background-color: rgb(150, 201, 62);
      padding: 8px;
      border: 0.5px solid rgb(150, 201, 62);
      color: var(--color-blanco);
      width: 100%;
      min-width: 300px;
      gap: 1.25rem;
      margin-bottom: 20px;
      cursor: pointer;

      &:hover {
        background-color: rgb(168, 215, 85);
        border: 0.5px solid rgb(168, 215, 85);
        transition: .3s;
      }
    }

    .erase-btn {
      background-color: rgb(174, 69, 48);
      border: 0.5px solid rgb(174, 69, 48);

      &:hover {
        background-color: rgb(210, 88, 64);
        border: 0.5px solid rgb(210, 88, 64);
        transition: .3s;
      }
    }
  }
  
}

@media screen and (max-width: 540px) {

  section {

    p {
      font-size: .625rem;
    }
  
    h3 {
      font-size: 1rem;
    }
  
    form {
  
      .inputContainer {
    
        flex-wrap: wrap;
    
        input {
          gap: 0rem;
          margin: 5px auto;
        }
      }
    
      .textareaContainer {
    
        width: 100%;
        margin: 5px auto;
        textarea {
          width: 100%;
          min-width: 300px;
          resize: none;
        }
      }
    
      .remembering {
        font-size: 10px;
      }
    
      button {
        min-width: 150px;
        gap: 0rem;
        margin: 0 auto 20px auto;
      }
    }
  }

}