/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
}